.experienceBarContainer {
  display: flex;
  align-items: center;

  span {
    font-size: 1rem;
  }

  .bar {
    height: 4px;
    border-radius: 4px;
  }

  > .bar {
    flex: 1;
    background: var(--gray-line);
    margin: 0 1.5rem;
    position: relative;

    .bar.experience {
      background: var(--green);
    }

    .currentExperience {
      position: absolute;
      top: 12px;
      transform: translateX(-50%);
    }
  }
}
